
   


    @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;1,8..144,500&family=Work+Sans:ital,wght@0,300;0,400;0,600;0,800;1,100&display=swap');
    
    *{
        box-sizing: border-box;
        font-family: "Work Sans";
        padding: 0%;
        margin: 0%;
    }

    html{
        /* Me permite deslizar cuando hago click en los links del menu */
        scroll-behavior:smooth ;
    }


    /* Menú */

    .contenedor-header{
        background: #171817;
        position: fixed;
        width: 100%;
        height: 16%;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .contenedor-header header{
        max-width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .contenedor-header header .logo a{
        font-family: "";
        font-size: 100px;
        color: white;
        text-decoration: none;
    }
    .contenedor-header header .logo a:hover{
        color: rgb(147, 144, 144);
    }

    .contenedor-header header ul{
        display: flex;
        list-style: none;
    }

    .contenedor-header header nav ul li a{
        text-align: none;
        color: rgb(246, 240, 240);
        margin: 0 50px;
        padding: 3px;
        transition: .5s;
        text-decoration: none;
    }

    .contenedor-header header nav ul li a:hover{
        color: rgb(142, 144, 145);
    }
        
    

    .nav-responsive{
        background-color: gray ;
        color: rgb(23, 22, 22);
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    /* SECCION I N I C I O */


    
    .inicio{
        background: linear-gradient(to top, rgba(30,35,38,.8),rgba(30,35,38,1)),
        url(img/city-7596379_1280.jpeg);
        background-size:cover;
        height: 100vh;
        color: #fff;
        align-items: center;
        display: flex;

        }
    

    .inicio .contenido-banner{
        padding: 20px;
        background-color:rgb(32, 31, 31);
        max-width: 350px;
        margin: auto;
        margin-top: 11%;
        text-align: center;
        border-radius: 40px;
        
    
    }

    .inicio .contenido-banner img{
        margin-top: 40px;
        border: 10px solid #fff;
        display: block;
        width: 80%;
        margin: auto;
        border-radius: 100%;
    }

    /* ACA BUSCAR NUEVA TIPOGRAFIA **/

    .inicio .contenido-banner h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 10px;
        font-size: 40px;
    }
    /* ACA BUSCAR UNA NUEVA TIPOGRAFIA */

    .inicio .contenido-banner h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 70%;
    }

    .inicio .contenido-banner .Redes a{
        color: #fff;
        display: inline-block;
        text-decoration: none;
        border: 1px #fff;
        border-radius: 100%;
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin: 30px 15px;
        font-size: 45px;
        transition: .3s;
    }

    .inicio .contenido-banner .Redes a:hover{
        color: rgb(147, 144, 144);
    }

    /* SOBRE MI **/

    .sobremi{
        background-color: #171817;
        color: #fff;
        padding: 50px 20px;
    }

    .sobremi .contenido-seccion{
        max-width: 1100px;
        margin: auto;
    }
    /* CAMBIAR TIPOGRAFIA **/

    .sobremi h2{
        font-size: 48px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding: 20px 0;
    }

    .sobremi .contenido-seccion p{
        font: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    
    .sobremi .contenido-seccion p span{
        color: darkgray;
        font-weight: bold;
    }

    .sobremi .fila{
        display: flex;
    }

    .sobremi .fila .col{
        width: 50%;
    }

    .sobremi .fila .col h3{
        font-size: 28px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 25px;
    }

    .sobremi .fila .col ul{
        list-style: none;
    }

    .sobremi .fila .col ul li{
        margin: 12px 0;
    }

    .sobremi .fila .col ul li strong{
        display: inline-block;
        color: darkgray;
        width: 130px;
    }

    .sobremi .fila .col ul li span{
        background-color: gray;
        padding: 3px;
        font-weight: bold;
        border-radius: 5px;
    }

    .sobremi .fila .contenedor-intereses{
        display: flex;
        flex-wrap: wrap;
    }

    .sobremi .fila .contenedor-intereses .intereses{
        width: 100px;
        height: 100px;
        background-color: black;
        border-radius: 10px;
        margin: 0 15px 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;

    }

    .sobremi .fila .contenedor-intereses .intereses:hover{
        background-color: rgb(142, 142, 142);
    }

    .sobremi .fila .contenedor-intereses .intereses i{
        font-size: 30px;
        margin-bottom: 10px;
     }

     .sobremi button{
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #fff;
        width: fit-content;
        display: block;
        
        padding: 10px 22px;
        font-size: 16px;
        color: #fff;
        position: absolute;
        z-index: 10;
        }

        .sobremi button .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color:rgb(142, 144, 145);
            z-index: -1;
            transition: 1s;
        }
        .sobremi button:hover .overlay{
            width: 100%;

        }

        /* SECCION CURRICULUM **/

    .curriculum{
        background-color: #171817;
        color: #fff;
        padding: 50px 20px;

    }

    .curriculum .contenido-seccion{
        max-width: 1100px;
        margin: auto;

    }

    .curriculum h2{
        font-size: 48px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding: 20px 0;
    }

    .curriculum .fila{
        display: flex;
        justify-content: space-between;
    }

    .curriculum .fila .col{
        width: 49%;
        padding: 0 20px;
    }

    .curriculum .fila .col h3{
        font-size: 28px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 25px;
    }

.curriculum .fila .izquierda{
    border-right: 2px solid rgba(30,35,38,.8);


}

.curriculum .fila .derecha{
    border-left: 2px solid rgba(30,35,38,.8) ;

}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: rgba(30,35,38,.8);
    position: relative;
} 
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa{
    color: gray;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color: gray;
    margin-bottom: 10px;
}

.curriculum .fila .item p{
    line-height: 24px;
}

.curriculum .fila .item .izq{
    border-right: 2px solid gray;
    margin-right: 20px;
}
.curriculum .fila .item .der{
    border-left: 2px solid gray;
    margin-left: 20px;
}
 .curriculum .fila .item .conectori{
    height: 2px;
    background-color: gray;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
 }

 .curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
    float: right;
    position: relative;
    bottom: 4px;
 }

 .curriculum .fila .item .conectord{
    height: 2px;
    background-color: gray;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
 }

 .curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
    float: left;
    position: relative;
    bottom: 4px;
 }  

 /** SECCION CONTACTOS */

 .contacto{
    background-image: url(img/pexels-aboodi-vesakaran-15323895.jpeg);
    background-color: black;
    color: #fff;
    padding: 50px 0;
 }

 .contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
 }

 .contacto h2{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px 0;
 }

 .contacto .fila{
    display: flex;
 }

 .contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;

 }

 .contacto .col input, .contacto .col textarea{
    display:block;
    width: 100%;
    font-size: 36px;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: rgba(30,35,38,.8);
    color: #fff;
    font-size: 18px;

 }

 .contacto button{
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #fff;
        width: fit-content;
        display: block;
        margin: 20px auto;
        padding: 10px 22px;
        font-size: 16px;
        color: #fff;
        position: relative;
        z-index: 10;
 }

 .contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: gray;
    z-index: -1;
    transition: 1s;
 }

 .contacto button:hover .overlay{
    width: 100%;
 }

 .contacto .col img{
    width: 100%;
 }

 .contacto .col .info{
    position: absolute;
    top: 40%;
    background-color:  rgba(30,35,38,.8);
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);

 }

 .contacto .col .info ul{
    list-style: none;

 }

 .contacto .col .info ul li{
    margin-bottom: 20px;
 }

 .contacto .col .info ul li i{
    color:#fff;
    display: inline-block;
    margin-right: 20px;
 }

 /** FOOTER */

 footer{
    background-color: black;
    color:white;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
 }

 footer .Redes{
    margin-bottom: 20px;

 }

 footer .Redes a{
        color: #fff;
        display: inline-block;
        text-decoration: none;
        border: 1px #fff;
        border-radius: 100%;
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin: 30px 15px;
        font-size: 45px;
        transition: .3s;
 }

 footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: gray;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;

 }

 /** SECCION RESPONSIVE **/

 @media screen and (max-width:890px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: rgba(30,35,38,.8);
        width: 180px;
    }

    nav.responsive ul{
        display: block !important;

    }
    nav.responsive ul li{
        border-bottom: 1px solid#fff;
        padding: 10px 0;
    }
 }

 @media screen and (max-width:700px){
    .sobremi.fila{
        display: block;
    }

    .sobremi .fila .col{
        width: fit-content;
    }

    .curriculum .fila{
        display: block;

    }

    .curriculum .fila .col{
        width: 90%;
    }

    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .contacto .fila{
        display: block;
    }

    .contacto .fila .col{
        width: 100%;
    }
 }

    
 




    


  

    
 










     


    



    















